<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Melanoma Checker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/bootstrap.css') }}"
    />
  </head>

  <body cz-shortcut-listen="true">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="pt-md-5 px-2 text-center">
          <h1 class="display-4">Melanoma Checker</h1>
          <p class="lead">This Site uses a DenseNet121 Classifier trained on the <a target="_blank" rel="noopener noreferrer" href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/DBW86T">HAM10000 dataset.</a><br>
                          It will determine the probability of the uploaded image of being a melanoma.
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
